<head>
<title>PlayNow: {{title}}</title>
</head>
<body>
{{#block "header"}}
<h1>{{title}}</h1>
{{/block}}

{{#block "content" }}
{{/block}}

{{#block "footer" }}
<footer> Powered by <a href="http://rust-lang.org">Rust</a> and <a href="http://ironframework.io">Iron</a></footer>
{{/block}}
</body>
