{{# partial "title" }}PlayNow | Log In{{/partial}}
{{# partial "header_title" }}Log In{{/partial}}
{{# partial "content" }}
<a href="{{loginurl}}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" /></a>
{/partial}}

{{> base}}
