{{# partial "title" }}PlayNow | Log In{{/partial}}
{{# partial "header_title" }}Log In{{/partial}}
{{# partial "content" }}
<form method="POST">
<input type="hidden" name="hacky_browser_workaround" value="barf">
<input type="text" id="steamid" name="steamid" /> 
<label for="steamid">Your SteamID (no lying!)<label>
<input type="submit" id="submit">
</form>
{{/partial}}

{{> base}}
